@model IEnumerable<ASP.NETMVC.Models.Contato> //Mostrando qual model estamos trabalhando, a view sempre trabalha com uma Model (modelo MVC)
    @*aqui estamos carregando a lista que enviamos para essa view*@

@{
    ViewData["Title"] = "Listagem de contatos"; //nome da nossa aba
}

<h2>Contatos</h2>

<p>
    <a asp-action="Criar">Novo Contato</a> @* hyperlink *@
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) @*cabeçalho*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) // para cada item na nossa lista de contatos
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                    <input type="checkbox" asp-action="Selecionar">
                </td>
            </tr>
        }
    </tbody>
</table>